!!! 5
html(lang="en")
  head
    meta(charset="utf-8")

    title redacted inc. - we help people play video games
    link(rel="icon", type="image/png", href="../../resources/images/icon.png")
    link(rel="shortcut icon", href="../../images/favicon.ico")
    link(rel="stylesheet", media="screen, projection", href="../../resources/styles/rdctd-main.css") 
