!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title redacted inc. - we help people play video games
    link(rel="icon", type="image/png", href="../../resources/images/icon.png")
    link(rel="shortcut icon", href="../../resources/images/logos/favicon.png")
    link(rel="stylesheet", media="screen, projection", href="../../resources/styles/rdct-main.css") 


  body
    .wrapper
      .teaser
        h1 redacted inc.
    .ribbon
    footer
      a(href="https://github.com/redacted-inc/redacted") follow us on github
      | &nbsp-
      a(href="http://nirri.us") nirrius gaming community
