<VirtualHost *:9002>
        ServerAdmin <%= node[:apache][:contact] %>

        DocumentRoot /home/www-server/site/nirrius.com/board/
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory /home/www-server/site/nirrius.com/board/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
                # This directive allows us to have apache2's default start page
                # in /apache2-default/, but still have / go to the right place
                #RedirectMatch ^/$ /apache2-default/
        </Directory>

        ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
        <Directory "/usr/lib/cgi-bin">
                AllowOverride None
                Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
                Order allow,deny
                Allow from all
        </Directory>

        ErrorLog <%= node[:apache][:log_dir] %>/error.log 

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog <%= node[:apache][:log_dir] %>/access.log combined
        ServerSignature On

        Alias /doc/ "/usr/share/doc/"
        <Directory "/usr/share/doc/">
            Options Indexes MultiViews FollowSymLinks
            AllowOverride None
            Order deny,allow
            Deny from all
            Allow from 127.0.0.0/255.0.0.0 ::1/128
        </Directory>

        <% if node[:platform] == "centos" || node[:platform] == "redhat" || node[:platform] == "fedora" -%>
        #
        # This configuration file enables the default "Welcome"
        # page if there is no default index page present for
        # the root URL.  To disable the Welcome page, comment
        # out all the lines below.
        #
        <LocationMatch "^/+$">
            Options -Indexes
            ErrorDocument 403 /error/noindex.html
        </LocationMatch>
        <% end -%>
</VirtualHost>
