@import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);

$accent-1: #EA1300;
$accent-2: darken($accent-1,3%);
$link-1: #6D0A00;
html, body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
  width:100%;
  -height: 100%;
  color: #111;
  font-size:30px;
  font-family: "Open Sans", sans-serif;
}

body {
  @include background(linear-gradient(top, #fff, #eee));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

a:link {
  color: $link-1; 
}

a:visited {
  color: adjust-hue($link-1, 28deg);
}

a:hover {
  color: lighten($link-1, 10%);
}

a:active {
  color: darken($link-1, 10%);
}

.wrapper {
  width: 55%;
  margin: 15% auto 20px;
}

.teaser {
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1 { 
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px auto;
  -o-user-select: none;
  user-select: none;
}

footer { 
  text-align: center;
}
.ribbon {
  box-sizing: border-box;
  -box-shadow: inset 0px 0px 100px lighten($accent-1,30%);
  @include background-image(linear-gradient($accent-1, $accent-2));
  width: 100%;
  height: 100px;
}

.logo {
  background: #FF0000;
  box-sizing: border-box; 
  width: 260px;
  height: 75px;
  padding: 10px auto;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  font-family: FreeSans, Sans-Serif;
  color: #fff;
}