server {
  listen 80;
  server_name  nirri.us www.nirri.us nirrius.com www.nirrius.com;
  access_log  <%= node[:nginx][:log_dir] %>/localhost.access.log;
  
  location / {
    proxy_pass         http://127.0.0.1:3000/;
    proxy_redirect     default;
  }
  
  location /init/ {
    alias /home/www-server/init/;
  }

  location /resources/ {
    alias /home/www-server/redacted/site/public/resources/;
  }
}


##
# Virtual Host Configs
##

include /etc/nginx/conf.d/*.conf;
#include /etc/nginx/sites-enabled/*;