server {
  listen 80;
  server_name  rdct.co www.rdct.co rdctd.com www.rdctd.com;
  access_log  <%= node[:nginx][:log_dir] %>/localhost.access.log;

  root /home/www-server/redacted/site/public;
  index /rdct.co/html/index.html;

  location /init/ {
    alias /home/www-server/init/;
  }
}

##
# Virtual Host Configs
##

include /etc/nginx/conf.d/*.conf;
#include /etc/nginx/sites-enabled/*;