server {
  listen 80;
  server_name  res.nirri.us res.nirrius.com res.rdct.co;
  access_log  <%= node[:nginx][:log_dir] %>/localhost.access.log;

  root /home/www-server/redacted/site/public/resources/;
  autoindex on;
  index index.html;
}

##
# Virtual Host Configs
##

include /etc/nginx/conf.d/*.conf;
#include /etc/nginx/sites-enabled/*;